@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
/* font-family: 'Cuprum', sans-serif; */

h1 {
  font-family: 'Cuprum', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  border: 10px groove rgb(136, 255, 255);
  background-color: hsl(207, 63%, 87%);
  position: relative;
  top: 0;
}

.subtitulo{
  font-family: 'Cuprum', sans-serif;
  width: 100%;
  height: 150px;
  padding: 20px 40px;
  background-color: rgb(160, 203, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(224, 46%, 48%);

}

.atividades{
  font-family: 'Cuprum', sans-serif;
  font-size: 19px ;
  width: 100%;
  height: 400px;
  padding: 20px 40px;
  background-color:  rgb(160, 203, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(224, 46%, 48%);

}

.sobremim {
  text-align: center;
}
